<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Přístup na web {$webName}</title>
</head>
<body>
    <p>Dobrý den,</p>
    <p>posílám Vám přístupové údaje na web <strong>{$webName}: {$webUrl}</strong>.</p>
		<p>
			<ul>
				<li>přihlašovací jméno: <strong>{$username}</strong></li>
				<li>heslo: <strong>{$password}</strong></li>
			</ul>
		</p>
		<p>Vítejte na stránkách a ať Vám dobře slouží.</p>
		<p>S pozdravem {$webAdmin}</p>
</body>
</html>
